@font-face {
    font-family: SfProBold;
    src: url(../style/font/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: SfProBlackItalic;
    src: url(../style/font/SFPRODISPLAYBLACKITALIC.OTF);
}

@font-face {
    font-family: SfProHeavyItalic;
    src: url(../style/font/SFPRODISPLAYHEAVYITALIC.OTF);
}

@font-face {
    font-family: SfProLightItalic;
    src: url(../style/font/SFPRODISPLAYLIGHTITALIC.OTF);
}

@font-face {
    font-family: SfProMedium;
    src: url(../style/font/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: SfProRegular;
    src: url(../style/font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: SfProSemiBold;
    src: url(../style/font/SFPRODISPLAYSEMIBOLDITALIC.OTF);
}

@font-face {
    font-family: SfProItalic;
    src: url(../style/font/SFPRODISPLAYTHINITALIC.OTF);
}

@font-face {
    font-family: SfProUltraLightItalic;
    src: url(../style/font/SFPRODISPLAYULTRALIGHTITALIC.OTF);
}


* {
    margin: 0px;
    padding: 0px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 100vw;
    height: 15vh;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header-logo #logo {
    width: 7vw;
}

.header-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: SfProBold, sans-serif;
    width: 70vw;
    flex-grow: 2;
    text-align: center;
}

.header-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5w;
    height: 8vh;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    flex-grow: 1;
}

.header-login .button-login {
	background-color:#111B47;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:SfProRegular ;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.button-login:hover {
	background-color:#1f3181;
}
.button-login:active {
	position:relative;
	top:1px;
}

.header-login input {
    margin-bottom: 5px;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-image: url(../assets/header-bottom.jpg);
    background-repeat: repeat-x;
}

.header-bottom-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-bottom-texte h1 {
    font-size: 75px;
    font-family: SfProBold, sans-serif;
}

.header-bottom-texte p {
    font-family: SfProRegular, sans-serif;
    color: rgb(66, 66, 66);
}

.header-bottom-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5w;
    height: 8vh;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
}

.button-form {
    background-color:#1C1C1C;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:SfProRegular;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
    padding: 20px;
}

.button-form:hover {
	background-color:#3a3a3a;
}
.button-form:active {
	position:relative;
	top:1px;
}

footer {
	font-family:SfProRegular;
}


.form-book-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form-book {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; 
    border-radius: 25px;
    box-shadow: 5px 5px 35px -1px rgba(0,0,0,0.69);
    max-width: 1000px; 
    width: 90%; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input, textarea {
    background-color: #F5F5FF;
    font: 1em SfProRegular;
    width: 25vw; 
    height: 10vh;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; 
    transition: border-color 0.3s ease; 
}

input:focus, textarea:focus {
  border-color: #007BFF; 
  outline: none; 
}

textarea {
  vertical-align: top;
  height: 7em;
  resize: vertical;
}

.form-button {
    text-align: center; 
    margin-top: 50px;
}   

.form-book .button:hover {
    background-color: #0056b3; 
}

.button-form {
    margin-top: 10px;
}




.book-grid {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 10%;
    gap: 50px; 
}

.container {
    position: relative;
    display: inline-block; 
    margin-bottom: 75vh;
    margin-top: 100px;
}

.text-pseudo {
    margin-top: 84px;
    margin-left: 245px;
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: #000;
    padding: 10px;
    width: 60vh; 
}

.text-desc {
    margin-top: 50px;
    margin-left: 120px;
    line-height: 1.37;
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: #000;
    padding: 10px;
    width: 60vh; 
    margin-right: 50px;

}


.btn-admin {
    position: relative;
    z-index: 10;
    bottom: 10vh;;
    left: 36.5vw;
    background-color: rgb(101, 24, 24);
	border-radius:10px;
	cursor:pointer;
	color:#ffffff;
	font-family:SfProRegular;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
    width: 5vw;
    height: 8vh;
    padding: 20px;
}

.svg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vh; 
    height: auto;
    z-index: 1;
}

